<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="/workouts">NutriFit Log</a>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
          <li><a href='#'>Home</a></li>
          <li><a href='#'>Profile</a></li>

          <li><a href='#'>Edit</a></li>

          <li><a href='#'>Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
          <li></li>
      </ul>
    </nav>
