<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="/profile">NutriFit Log</a>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
          <li><a href='#'>Home</a></li>
          <li><a href='/profile'>Profile</a></li>


          <li><a href='/logout'>Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
          <li></li>
      </ul>
    </nav>
