<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="/profile"><img alt="Brand" src='/images/logo.png' class="img-responsive"></a>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <% if (!user) { %>
          <li><a href='/login'>Login</a></li>
        <% } else { %>
          <li><a href='/main'>Add a meal</a></li>
          <li><a href='/profile'>Profile</a></li>
          <li><a href='/logout'>Logout</a></li>
        <% } %>
      </ul>
    </div>
</nav>
<style>
.navbar-brand {
  height: 60px;
  width: 70px;
}
</style>
