<img class='front-page text-center' src='images/front-image.jpeg'>
<div class="jumbotron">
  <h1>Welcome to NutriKing!</h1>
  <p>Keeping track of what you eat one meal at a time.</p>
    <a class="btn btn-info btn-lg" href="/signup" role="button">GET STARTED</a>
</div>
