
  <img class='front-page text-center' src='images/front-page.jpeg'>
  <div class="jumbotron">
    <h1>Welcome to NutriKing!</h1>
    <p>Keeping track of your meals one meal at a time.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      <a class="btn btn-success btn-lg" href="/signup" role="button">Create a new account</a>
    </p>
  </div>



<style media="screen">
.front-page {
  height: 400px;
  width: 500px;

}
</style>
