<div class="jumbotron">
    <h1>Welcome to NutriFitLog!</h1>
    <p>Keeping track of your meals one meal at a time.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="user/login" role="button">Login</a>
      <a class="btn btn-success btn-lg" href="user/signup" role="button">Create a new account</a>
    </p>
</div>
