<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NutriFit Log</title>
    <script src="js/jquery.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>WAZZZUUUUP!</h1>
  </body>
</html>
