
<h1><%= user %></h1>
<form action="update" method="patch">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email">
  </div>
  <button type="submit" class="btn btn-warning btn-lg">Submit</button>
</form>
